<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.zhaodf.springframework.chapter9.dao.MalltUserDao">
    <select id="findMalltUserById" resultType="com.zhaodf.springframework.chapter9.model.MalltUser" >
      select * from mallt_user where id = #{id}
    </select>
    <insert id="insert" parameterType="com.zhaodf.springframework.chapter9.model.MalltUser">
        insert into mallt_user(name,mobile,email) values(#{name}, #{mobile}, #{email});
    </insert>
</mapper>